%article
  .post-attributes
    - if article.data['logo'].present?
      = image_tag(article.data['logo'], class: 'logo')
    -elsif article.data['source'] =~ /thoughtbot/
      = image_tag('http://images.thoughtbot.com/logo.svg', class: 'logo')
    -else
      = image_tag('/images/solid_white.svg', class: 'logo')

    %time= article.date.strftime('%b %e, %Y')

  - if article.data['source'].blank?
    .blog-info
      %h2.title
        = link_to article.title, article.url
      %h4.description
        = link_to article.data['description'], article.url

  - else
    .blog-info
      %h2.title
        = link_to article.title, article.data['source']
      %h4.description
        = link_to article.data['description'], article.data['source']
